
    .container {
       
  margin-top: 20px;
  height: 60vh;
  border: 1px solid #ddd;
  background:white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
    .header{
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h1{
                font-size: 17px;
                font-size: 900;
               
            }
            p{
                font-size: 15px;
            }
        }
    .card{
         width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

     .cards {
      border: 1px solid #d4d4d4 !important;
      border: none;
      border-radius: 10px;
      width: 26%;
      height: 200px;
      margin-top: 30px;
      padding: 20px 20px;
      background-color: #f9fafb;
      opacity: 1;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      .title{
        font-size: 15px;
        font-weight: 700;
        display: flex;
        justify-content: center;
      }
      .content{
        display: flex;
        gap: 10px;
        margin-top: 5px;

       .text{
            border: 1px solid #d4d4d4;
            background-color: black;
                    font-size: 15px;
            color: white;
            padding: 0px 10px;
            border-radius: 5px;
       }
      
      }
       .learning{
         margin-top: 10px;
          
           span{
            font-size: 14px;
            // border:  1px solid gray;
           }
       }
       .button{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        padding: 2px 10px;
        background-color: black;
        color: #ddd;
        border-radius: 5px;
       }
    }
    }

}