.section-title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.activity-container {
  max-width: 750px;
  margin: 0 auto;
  background: white;
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

.sub-title {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

.sub-desc {
  text-align: center;
  font-size: 15px;
  color: #666;
  margin-bottom: 25px;
}

.activity-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.activity-card {
  display: flex;
  align-items: center;
  background: #f9f9f9;
  padding: 16px 22px;
  border-radius: 12px;
}

.icon-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-right: 18px;
}

.activity-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.activity-title {
  font-size: 15px;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

.activity-date {
  margin: 4px 0 0;
  font-size: 14px;
  color: #666;
  text-align:center;
}
