.progress-card {
  background: #fff;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.08);
  width: 100%;
  height: auto;
}

.section-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0px;
  text-align: center;
}

.section-subtitle {
  color: #666;
  margin-bottom: 20px;
  font-size: 14px;
  text-align: center;
}

/*  gap */
.progress-list {
  display: flex;
  flex-direction: column;
  gap: 15px; 
}

.progress-row {
  width: 100%;
}

.skill-header {
  display: flex;
  justify-content: space-between;   
  align-items: center;
  margin-bottom: 6px;
}
.skill-header .left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.skill-name {
  font-size: 15px;
  font-weight: 600;
}

.tag {
  background: #eee;
  padding: 2px 5px;
  border-radius: 6px;
  font-size: 13px;
  color: #1e1e1e;
}

.progress-bar-wrapper {
  width: 100%;
  height: 10px;
  background: #ddd;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 2px; 
}

.progress-bar-fill {
  height: 100%;
  background: #000;
  border-radius: 4px;
  transition: width 0.4s ease;
}

.progress-value {
  font-size: 13px;
  font-weight: 400;
  color: #686868;
  margin: 0;               
}

