.profile-container {
  max-width: 750px;   
  width: 100%;
  margin: 0 auto;
}

.profile-card {
  background: #fff;
  padding: 25px;
  border-radius: 13px;
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 3px 10px rgba(0,0,0,0.08);
}

.profile-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.profile-left {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.avatar-wrapper {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.user-info h2 {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
}

.user-role {
  margin: 4px 0 10px 0;
  color: #696969;
  font-size: 15px;
}

.meta {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  margin: 6px 0 12px 0;
}

.meta span {
  color: #555;
  font-size: 14px;
}

.stats-row {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.stat {
  text-align: center;
}

.stat h3 {
  font-size: 21px;
  font-weight: 700;
  margin: 0;
}

.stat p {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  color: #6e6e6e;
}

.edit-btn {
  position: absolute;
  top: 0px;
  right: 5px;
 
  background: #fff;
  padding: 8px 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
 
  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
}
 
.edit-btn:hover {
  background: #f7f7f7;
}
 
 
:dir(rtl) .edit-btn {
  right: auto;  
  left: 5px;    
}