.container {
  display: flex;
  justify-content: space-around;
  .left {
    width: 50%;
    h1 {
      font-weight:900;
      font-size: 24px;
      margin-left: 100px;
    }
    span {
      font-size: 15px;
    }
   
   
  }
   .right {
      
      button {
        border: 2px solid white;
        padding: 10px 15px;
        background-color: darkblue  ;
        color: white;
        font-weight: bold;
        border-radius: 5px;
      }
    }
}
.card{
    width: 100%;
     display: flex;
     flex-wrap: wrap;
     gap: 20px;
     @media only screen and (max-width:480px) {
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        
     }
    .cards{
     
       border: 1px solid #d4d4d4 !important;
        border: none;
        border-radius: 10px;
        width: 30%;
        margin-top: 30px;
        padding: 20px 20px ;
        background-color: white;
         box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    .title{
        display: flex;
        justify-content: space-between;
       span{
       
        font-weight: 500;
       }
    }
    .subtitle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
}