.title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 40px;
}

.skills-wrapper {
  max-width: 750px;  
  width: 100%;
  margin: 0 auto;
}


.skill-group {
  margin-bottom: 15px;
  text-align: left
}

.group-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: center;
}

.skill-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: flex-start;
}

.tag {
  background: #000;
  color: white;
  padding: 1px 10px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  display: inline-block;
  transition: 0.2s ease;
}

.tag:hover {
  background: #444;
}
