.certificates-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 750px;      
  width: 100%;
  margin: 30px auto 20px auto;
}

.certificates-header h2 {
  font-size: 25px;
  font-weight: 600;
  margin: 0;
}

.download-all {
  background: #ffffff;
  border: 1px solid #ddd;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 15px;
}

.download-all:hover {
  background: #f5f5f5;
}

.certificates-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 750px;
  width: 100%;
  margin: 0 auto;       
}

.certificate-card {
  background: white;
  padding: 25px;
  border-radius: 19px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 360px;     
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}

/* Title */
.certificate-card h3 {
  white-space: nowrap;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 5px;
}

.instructor,
.issued,
.id {
  font-size: 14px;
  gap: 5%;
  text-align: center;
  margin: 4px 0;
  color: #555;
}

.actions {
  display: flex;
  gap: 10px;
  justify-content: left;
  margin-top: 20px;
  font-size: 13px;
}

.download-btn {
  background: #000;
  color: white;
  border: none;
  padding: 5px 7px;
  border-radius: 5px;
}

.share-btn {
  background: white;
  border: 1px solid #ddd;
  padding: 5px 7px;
  border-radius: 8px;
}
.corner-tag {
  width: 0;
  height: 0;
  border-top: 45px solid #6b4dff;   
  border-left: 45px solid transparent;
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 16px;    
}
