@import 'tailwindcss';

body {
  font-family: 'Roboto', sans-serif !important;
}
:root,
:host {
  font-family: 'Roboto', sans-serif !important;
}

.font-sans {
  font-family: 'Roboto', sans-serif !important;
}
button{
  cursor: pointer;
}